<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.dragonfly.cloud.security.mapper.UserMapper">

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		user_id AS userId,
		account,
		user_name AS userName
	</sql>

	<delete id="deleteAll">
		DELETE FROM T_USER
	</delete>

</mapper>  