<div class="bg-white">
	<ul class="breadcrumb b-a m-b-n-xs lter wrapper-md">
	  <li><a href><i class="fa fa-home"></i> Breadcrumb</a></li>
	  <li><a href>Elements</a></li>
	  <li class="active">Components</li>
	</ul>
</div>
<div class="wrapper-md" ng-controller="listUserCtrl">

	<form name="forma" class="form-horizontal">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="form-group">
					<label class="col-sm-1 control-label">Email</label>
					<div class="col-sm-3">
						<input type="email" class="form-control" placeholder="email" ng-model="g.a" required >
					</div>

					<label class="col-sm-1 control-label">Email</label>
					<div class="col-sm-3">
						<input type="email" class="form-control" placeholder="email" ng-model="g.a" required >
					</div>

					<label class="col-sm-1 control-label">Email</label>
					<div class="col-sm-3">
						<input type="email" class="form-control" placeholder="email" ng-model="g.a" required >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label">Url</label>
					<div class="col-sm-3">
						<input type="url" class="form-control" placeholder="http://" ng-model="g.b" required >
					</div>

					<label class="col-sm-1 control-label">Url</label>
					<div class="col-sm-3">
						<input type="url" class="form-control" placeholder="http://" ng-model="g.b" required >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label">Digits</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" placeholder="digits" ng-model="g.c" ng-pattern="/^[0-9]+$/" required >
					</div>

					<label class="col-sm-1 control-label">Digits</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" placeholder="digits" ng-model="g.c" ng-pattern="/^[0-9]+$/" required >
					</div>
				</div>
			</div>
			<footer class="panel-footer text-right lter">
				<button type="submit" class="btn btn-success">Submit</button>
				<button type="reset" class="btn btn-default">Reset</button>
			</footer>
		</div>
	</form>

	<div class="table-responsive">
		<div ng-grid="gridOptions" style="min-height:300px;"></div>
	</div>

</div>